<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Viajes Pendientes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-toggle color="secondary"></ion-toggle>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-label text-center text-uppercase color="primary" class="title-rutas">
    Ofertas Pendientes
  </ion-label>
  <ion-list *ngFor="let pendiente of [1,2,3,4,5]">
    <!-- <ion-grid fixed> -->
      <!-- <ion-row align-items-stretch>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center *virtualItem="let speaker" approxItemHeight="457px">

          <ion-card class="speaker-card">
            <ion-card-header>
              <button ion-item detail-none (click)="goToSpeakerDetail(speaker)">
                <ion-avatar item-start>
                  <img [src]="speaker.profilePic" alt="Speaker profile pic">
                </ion-avatar>
                {{speaker.name}}
              </button>
            </ion-card-header>

            <ion-card-content class="outer-content">
              <ion-list>
                <button ion-item *ngFor="let session of speaker.sessions" (click)="goToSessionDetail()">
                  <h3>{{session.name}}</h3>
                </button>

                <button ion-item (click)="goToSpeakerDetail(speaker)">
                  <h3>About {{speaker.name}}</h3>
                </button>
              </ion-list>
            </ion-card-content>

            <ion-row no-padding>
              <ion-col col-12 col-lg-auto text-center text-lg-left>
                <button ion-button clear small color="primary" icon-start (click)="goToSpeakerTwitter(speaker)">
                  <ion-icon name="logo-twitter"></ion-icon>
                  Tweet
                </button>
              </ion-col>
              <ion-col col-12 col-lg-auto text-center>
                <button ion-button clear small color="primary" icon-start (click)="openSpeakerShare(speaker)">
                  <ion-icon name='share-alt'></ion-icon>
                  Share
                </button>
              </ion-col>
              <ion-col col-12 col-lg-auto text-center text-lg-right>
                <button ion-button clear small color="primary" icon-start (click)="openContact(speaker)">
                  <ion-icon name='chatboxes'></ion-icon>
                  Contact
                </button>
              </ion-col>
            </ion-row>

          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid> -->
    <ion-card (click)="goToSessionDetail()">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-card-title>
              Origen:
            </ion-card-title>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
          </ion-col>
          <ion-col col-6>
          <ion-card-title>
            Destino:
          </ion-card-title>
          <p>
            The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.
          </p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
      <ion-row>
        <ion-col col-6><p>Carro: Mitsubishi Eplipse</p></ion-col>
        <ion-col col-6><p>Puestos: 3</p></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <h1 text-center>3000 Bs.</h1>
    <ion-row>
      <ion-col col-12><button ion-button block>Detalles</button></ion-col>
    </ion-row>
  </ion-grid>
    </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
