<ion-header>
    <ion-navbar (click)="mainToggleChanged()">
        <ion-title>{{title}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-toggle [(ngModel)]="demandsMode" color="secondary"></ion-toggle>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh()">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list #scheduleList [hidden]="shownSessions === 0">

        <ion-item-group *ngFor="let trip of trips">

            <ion-item-divider sticky>
                <ion-label>
                    {{trip.departure_date}}
                </ion-label>
            </ion-item-divider>

            <ion-card (click)="detail(trip)">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                <ion-card-title>
                                    Origen:
                                </ion-card-title>
                                <p>
                                    {{trip.departure_address.text}}
                                </p>
                            </ion-col>
                            <ion-col col-6>
                                <ion-card-title>
                                    Destino:
                                </ion-card-title>
                                <p>
                                    {{trip.arrival_address.text}}
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6 *ngIf="trip.vehicle"><p>Vehiculo: {{trip.vehicle.brand}}</p></ion-col>
                            <ion-col col-6><p>Puestos: {{trip.seats}}</p></ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-grid>
                        <h1 text-center *ngIf="trip.price">Bs. {{trip.price}}</h1>
                    </ion-grid>
                    <ion-label *ngIf="trip.request_offer"> Respuestas: </ion-label>
                    <ion-list>
                        <ion-item *ngFor="let r of trip.request_offer">{{r.text}}</ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>

        </ion-item-group>

    </ion-list>

</ion-content>
